.critter-card {
  background-color: $ac-green;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 1.5rem;
}

.critter-card-header {
  display: flex;
  margin-bottom: 1rem;
    .critter-card-image { 
      flex: 1;
      display: flex;
      background-color: $ac-blue;
      border-radius: 50%;
      border: 2px solid $ac-green-darker;
      justify-content: center; 
      img {
        height: 100%;
        width: auto;
      }
    }
    .critter-card-header-content { 
      flex: 5 
    }
}

.critter-card-content {
  display: flex;
  justify-content: space-between;
  padding: 0 0.1rem;
  font-size: 0.9rem;
  button {
    cursor: pointer;
    width: 85px;
    background: none;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans JP', sans-serif;
    transition: all 0.2s ease;
    &:hover, &.remove {
      background-color: $ac-green-darker;
    }
  }
}

.critter-card-footer {
  p {
    font-size: 0.6rem;
    margin: 0;
    text-align: center;
  }
  .critter-card-footer-content {
    padding: 0.5rem;
    font-size: 0.6rem;
    transition: all 1s ease-in;
    p {
      text-align: left;
      font-weight: 1rem;
    }
  }
}

.hidden {
  display: none;
}
