.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: $ac-green;
  h1 {
    font-size: 1.5rem;
  }
}

// Bag icon styling

.bag {
  position: relative;
  .bag-icon {
    font-size: 0.2rem;
    top: -10px;
    left: 25px;
    color: $ac-cream;
    font-weight: bold;
    background-color: $ac-blue;
    border-radius: 50%;
    height: 0.7rem;
    width: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}