.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: $ac-green;
  h1 {
    font-size: 1.5rem;
  }
  .bag-button {
    // width: 40px;
    text-align: center;
  }
}

// Bag icon styling

.bag {
  position: relative;
  .bag-icon {
    font-size: 1rem;
    top: -2px;
    left: 20px;
    color: $ac-cream;
    font-weight: bold;
    background-color: $ac-blue;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    p {
      padding: 0.2rem;
      margin: 0;
    }
  }
}