//  Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

// Variables

$ac-blue: #B8DCE9;
$ac-blue-darker : #47a1d2;
$ac-green: #93E9BE;
$ac-green-darker: #4be196;
$ac-cream: #f5fffa;

// Bulma columns + containers

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/grid/columns.sass';

// Little overrides for bulma column padding and body styles

body {
  background-color: $ac-cream;
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

div.column {
  padding: 0;
}

div.main-container {
  display: flex;
  padding: 0 1rem;
  .container {
    flex: 1;
  }
  .bag-container {
    flex: 1;
    // margin-right: 1rem;
  }
}

// Component imports 

@import 'header';
@import 'search';
@import 'critter';
@import 'bag';